cdt_path=/
cluster_id=16
cluster_type=postgresql_single
cmon_user=cmon
created_by_job=48
group_owner=1
hostname=7793fcbeb99e
logfile=/var/log/cmon_16.log
mode=controller
monitored_mountpoints=/var/lib/postgresql/data/pgdata
mysql_hostname=localhost
mysql_password='cmon'
mysql_port=3306
name='v9'
os=debian
owner=1
pidfile=/var/run
postgresql_password=CCMonitorUserName
postgresql_server_addresses=172.25.0.2:5432,172.25.0.3:5432
postgresql_user=CCMonitorUserPassword
repl_password=SetThePasswordHere
repl_user=ReplicatonUserName
# example: rpc_key=9fsisuy03nolw2mt
rpc_key=SetTheRPCKeyHere
server_version=10
ssh_identity=/root/.ssh/id_rsa
ssh_port=22
ssh_user=root
sudo_opts=sudo -n 2>/dev/null
type=postgresql_single
vendor=postgres
